/* ===== Default values ===== */
* {
    margin: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
}
.container {
    margin: 50px auto;
    width: 80%;
}
h2 {
    font-size: 3rem;
    margin: 3% 0%;
    text-align: center;
}

/* ===== Header ===== */
header {
    background-color: #072d5f;
    height: 100vh;
    display: flex;
}
.borderBox {
    text-align: center;
    border: 10px solid white;
    margin: auto;
    width: 55%;
}
.intro {
    color: white;
    border: 3px solid white;
    margin: 5%;
    padding: 5%;
}
.intro > h1 {
    font-size: 6rem;
    padding-bottom: 5%;
    /* text-shadow: 4px 4px #000000; */
}
.intro > p {
    font-size: 2.5rem;
}

/* ===== Navbar ===== */
.navbar {
    border-bottom: 5px solid #072d5f;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    position: sticky;
    top: 0;
}
.navbar a {
    text-decoration: none !important;
    font-size: 25px;
    color: black;
}

/* ======================================== CONTENT ======================================== */
.container p {
    font-size: 1.4rem;
    margin-bottom: 5%;
}
.container h3 {
    font-size: 2rem;
    margin: 10% 0%;
}

/* ===== About ===== */
.about {
    display: flex;
}
.aboutText {
    margin-right: 10%;
    width: 100%;
}
.row {
    display: flex;
    margin-bottom: 5%;
}
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.skills span {
    display: flex;
    justify-content: center;
    color: black;
}
.cursorLine {
    background-color: black;
    width: 10px;
    margin-left: 1%;
}

.bgCircle {
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    transition: all .2s ease-out;
}
.bgCircle:hover {
    background-color: #3d3d3d;
    transition: all .2s ease-out;
}
.bgCircle img {
    width: 35px;
    margin-bottom: 10%;
}
.bgCircle p {
    color: white;
    text-align: center;
    font-size: 13px;
}

/* ===== Projects ===== */
#projects p {
    color: white;
}
.projectBox {
    background-color: black;
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    transition: all .2s ease-out;
}
.projectBox:hover {
    background-color: #3d3d3d;
    width: 220px;
    height: 220px;
    transition: all .2s ease-out;
}

/* ===== Footer ===== */
footer {
    background-color: #072d5f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sendEmail {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.sendEmail h2 {
    color: white;
}
textarea {
    height: 250px;
}
input, textarea, button {
    padding: 10px 10px;
    margin-bottom: 3%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}



/* ========================================================= */
/* 
    To Do list: 
    - Fix navbar, so it's space-around under 1000px,
    and becomes hamburger menu under 750px

    - Fix skills circles, so they become 2x4 under 1000px,
    and single (or scoll menu?) At 750px

    - Have a contact form and social media buttons at footer
*/