/* =============================================
Since the modals are a lot of work on their own,
I'll just make a separate css just for them.
============================================= */

/* ================================= TRY ONE ================================= */

/* http://tutorialspage.com/create-modal-window-pure-html5-css3/ */



/* ================================= TRY TWO ================================= */

/* https://sabe.io/tutorials/how-to-create-modal-popup-box */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 10;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    height: 70vh;
    width: 25vw;
    /* min-width: 20vw; */
    border-radius: 0.5rem;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    transform: translate(40%, -10%);
}
.close-button:hover {
    background-color: darkgray;
}

.image-and-about-project {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-image {
    /* margin: 0 5% 0 -1%; */
    height: 32vh;
    width: 40vw;
    min-width: 35vw;
    object-fit: contain;
    border-radius: 0.5rem;
    overflow: cover;
}
.about-project {
    width: 25vw;
    min-width: 20vw;
}
.about-project h3 {
    text-align: center;
}
.about-project p {
    height: 25vh;
    /* width: 20vw; */
    overflow: scroll;
    border: .5px solid black;
    padding: 3%;
}

.tech-stack {
    margin: 2% 0;
    cursor: default;
}
.tech-stack span {
    display: inline-block;
    border: .5px solid black;
    border-radius: 0.5rem;
    padding: 1% 2%;
    font-size: .7rem;
}
.tech-stack span:hover {
    background-color: lightblue;
}